@model ClothingOnlineWeb.Models.Account
<div class="text-center mt-5">
    <form style="max-width:300px;margin: auto;" asp-controller="Account" asp-action="Login" method="post">
        <h1 class="h3 mb-3 font-weigh-normal">Đăng Nhập</h1><br />
        <input type="text" asp-for="Username" placeholder="Username" class="form-control" required autofocus />
        <span asp-validation-for="Username"></span>
        <input type="password" asp-for="Password" placeholder="Password" class="form-control mt-3" required autofocus />
        <span asp-validation-for="Password"></span>
        <div class="mt-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
        </div>
        <div class="mt-3">
            <a class="text-underline" asp-controller="Account" asp-action="Register">Tạo tài khoản mới</a>
        </div>

    </form>
</div>