@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString(ClothingOnlineWeb.Controllers.ProductController.CARTKEY);
    if (jsoncart != null)
    {
        float total = 0;
        var cart = JsonConvert.DeserializeObject<List<Cart>>(jsoncart);
        <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Gio hang(@cart.Count)
                </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @{
                        foreach (var item in cart)
                        {
                            var price = item.quantity * float.Parse(item.product.Price);
                            total += price;
                            <li><a class="dropdown-item" href="/product/getproductdetail?id=@item.product.Productid">@item.product.Productname (@item.quantity)</a></li>
                        }
                        <li><a class="dropdown-item" href="#">Thanh tien: @total</a></li>
                    }
                </ul>   
            </li>
    }
}